# Models
search:
	-	in: %appDir%/Model

services:
	- App\Router\RouterFactory::createRouter

	- App\Model\AuthorizatorFactory::create(@Nette\Database\Explorer)
	authenticator: App\Services\Authenticator

	- App\Services\ApiConfig( %links%, %title%, %dataRetentionDays%,  %minYear%, %masterPassword% )
	- App\Services\Config( %masterPassword%, %minYear% )
	- App\Services\MsgProcessor
	- App\Services\RaDataSource
	- App\Services\InventoryDataSource
	- App\Services\ChartDataSource
	- App\Services\CrontaskDataSource(%cronAllowed%)
	- App\Services\MailService

	- App\Model\User_main(%baseUrl%)

#	-	in: %appDir%
#		classes:
#			- *Factory
#			- *Facade