{layout '../@layoutCron.latte'}

{block content}

{dump $ip_not_allowed}
{dump $resultMsg}

{if ! $ip_not_allowed }
	Processed: {$batches} batches and {$records} records in {$time} sec.<br />
	Message: {$resultMsg}
{else}
	IP address not allowed.
{/if}
